.game_container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-gap: 0px;
}
.temp {
  background-color: black;
  width: 10rem;
  height: 10rem;
}
